/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-smallcaps {
    font-variant: small-caps;
    letter-spacing: 1px;
}

.bg-cst-red {
    background-color: #c42033;
}

.text-cst-red {
    color: #c42033;
}

.btn-cst-red {
    background-color: #c42033;
    color: white;
}

.pricetag {
    background-color: #FeC237;
    right: -7px;
}

.scale:hover {
    scale: 1.05;
    transition: 0.5s;
    box-shadow: 0 0 7px #c4203377 !important;
    border: 1px solid #c4203377;
}

.scale {
    transition: 0.3s;
}

.carousel-item {
    position: relative !important;
    height: 100% !important;
}

    .carousel-item img {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        min-height: 100% !important;
        min-width: 100% !important;
        object-fit: cover !important;
    }

    .carousel-item h5,
    .carousel-item p {
        /*background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 10%);*/
        text-shadow: 0 0 12px #000, 0 0 7px #000, 0 0 4px #000, 0 0 2px #000;
    }
