@{
    ViewBag.Title = "Home Page";
}



<main>

    <div class="row py-3 my-5">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <div>
                        <img src="..\Content\assets\img\zz_aboutus01.png" alt="" class="card-img rounded-3" style="height:40vh; object-fit: cover;">
                    </div>

                </div>
                <div class="col-6">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <img src="..\Content\assets\img\zz_aboutus02.png" alt="" class="card-img rounded-3" style="height: 19vh; object-fit: cover;">
                        <img src="..\Content\assets\img\zz_aboutus03.png" alt="" class="card-img rounded-3" style="height: 19vh; object-fit: cover;">
                    </div>

                </div>

            </div>
        </div>
        <div class="col-6">
            <div>
                <h3>About <span class="text-cst-red">US</span></h3>
                <h4>We Offer A Slice Of Italy Straight To Your Doorstep</h4>
                <p>
                    Our pizzas are more than just food; they're a canvas of rich, authentic flavors, crafted with a selection of premium ingredients that capture the essence of Italy's culinary heart. <br />
                    Each bite is a celebration of tradition and innovation, where the classic and the contemporary meet to create something truly special. <br These creations are a harmonious blend of authentic tastes and the joy of sharing, designed to bring the pleasure of gathering around a meal that feels like home, no matter where you are.
                </p>
            </div>
        </div>
    </div>

    <div class="row py-3 my-5">
        <div class="col-4">
            <div class="bg-cst-red text-white rounded-3 p-3 me-2">
                <h4 class="fw-bold">FREE PIZZA</h4>
                <p class="fs-6">Buy 5 pizzas, the 6th is on us!</p>
                <a href="#" class="text-smallcaps">Order Now</a>

            </div>
        </div>
        <div class="col-4">
            <div class="text-white rounded-3 p-3 mx-2" style="background-color: #FF9D2E;">
                <h4 class="fw-bold">FREE SODA</h4>
                <p class="fs-6">Get 1 free can for every 2 pizzas you order</p>
                <a href="#" class="text-smallcaps">Order Now</a>

            </div>
        </div>
        <div class="col-4">
            <div class="text-white rounded-3 p-3 ms-2" style="background-color: #219652;">
                <h4 class="fw-bold">A GIFT 4 U</h4>
                <p class="fs-6">Unlock a special surprise with your 4th order</p>
                <a href="#" class="text-smallcaps">Order Now</a>

            </div>
        </div>
    </div>

    <div class="row py-3 my-5">

        <div class="col-7">
            <div class="row row-cols-2">
                <div class="row border-bottom border-end border-1">
                    <div class="col-3">
                        <img src="..\Content\assets\img\zz_chooseus01.png" style="width: 65px"  />

                    </div>
                    <div class="col-8">
                        <h5>Fast Delivery</h5>
                        <p>
                            Enjoy free shipping at any time of the day
                        </p>

                    </div>
                   
                </div>
                <div class="border-bottom border-1">
                    <div class="col-3">
                        <img src="..\Content\assets\img\zz_chooseus02.png" style="width: 60px"  />

                    </div>
                    <div class="col-8">
                        <h5>Premium Quality</h5>
                        <p>
                            Made using only the freshest, healthiest ingredients
                        </p>

                    </div>
                   
                </div>
                <div class="border-end">
                    <div class="col-3">
                        <img src="..\Content\assets\img\zz_chooseus03.png" style="width: 60px" />

                    </div>
                    <div class="col-8">
                        <h5>Traditional Recipe</h5>
                        <p>
                            The true essence of Italian cuisine straight to your door
                        </p>

                    </div>
                   
                </div>
                <div class="">
                    <div class="col-3">
                        <img src="..\Content\assets\img\zz_chooseus04.png" style="width: 60px"  />

                    </div>
                    <div class="col-8">
                        <h5>Promotions</h5>
                        <p>
                            Exciting new deals every month
                        </p>

                    </div>
                   
                </div>

            </div>

        </div>

        <div class="col-5">
            <div>
                <img src="..\Content\assets\img\zz_chooseus.png" alt="" class="card-img rounded-3" style="height:40vh; object-fit: cover;">

            </div>

        </div>

    </div>





    <div></div>



</main>


