@{
    ViewBag.Title = "Home Page";
}



<main>

    @*ABOUT US*@

    <div class="row py-3 my-5">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <div>
                        <img src="..\Content\assets\img\zz_aboutus01.png" alt="" class="card-img rounded-3" style="height:40vh; object-fit: cover;">
                    </div>

                </div>
                <div class="col-6">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <img src="..\Content\assets\img\zz_aboutus02.png" alt="" class="card-img rounded-3" style="height: 19vh; object-fit: cover;">
                        <img src="..\Content\assets\img\zz_aboutus03.png" alt="" class="card-img rounded-3" style="height: 19vh; object-fit: cover;">
                    </div>

                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="d-flex flex-column justify-content-center h-100">
                <h3 class="border-bottom border-danger w-50 mb-4 pb-2 px-3">About <span class="text-cst-red">Us</span></h3>
                <h4 class="px-3">We Offer A Slice Of Italy Straight To Your Doorstep</h4>
                <p class="px-3">
                    Our pizzas are more than just food; they're a canvas of rich, authentic flavors, crafted with a selection of premium ingredients that capture the essence of Italy's culinary heart. <br />
                    Each bite is a celebration of tradition and innovation, where the classic and the contemporary meet to create something truly special. <br These creations are a harmonious blend of authentic tastes and the joy of sharing, designed to bring the pleasure of gathering around a meal that feels like home, no matter where you are.
                </p>
            </div>
        </div>
    </div>


    @*PROMOS*@

    <div class="row py-2 my-5">
        <div class="col-4">
            <div class="d-flex flex-column justify-content-between bg-cst-red text-white rounded-3 p-4 me-2 h-100">
                <h4 class="fw-bold">FREE PIZZA</h4>
                <p class="fs-6">Buy 5 pizzas, the 6th is on us!</p>
                <a href="@Url.Action("Catalogo", "Prodotti")" class="text-smallcaps fs-5 fw-semibold link-light">Order Now</a>


            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column justify-content-between text-white rounded-3 p-4 mx-2 h-100" style="background-color: #FF9D2E;">
                <h4 class="fw-bold">FREE SODA</h4>
                <p class="fs-6">Get 1 free can for every 2 pizzas you order</p>
                <a href="@Url.Action("Catalogo", "Prodotti")" class="text-smallcaps fs-5 fw-semibold link-light">Order Now</a>


            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column justify-content-between text-white rounded-3 p-4 ms-2 h-100" style="background-color: #219652;">
                <h4 class="fw-bold">A GIFT 4 U</h4>
                <p class="fs-6">Unlock a special surprise with your 4th order</p>
                <a href="@Url.Action("Catalogo", "Prodotti")" class="text-smallcaps fs-5 fw-semibold link-light">Order Now</a>


            </div>
        </div>
    </div>


    @*CHOOSE US*@

    

<div class="row py-3 my-5 d-flex justify-content-center">

    <h3 class="text-center border-bottom border-danger w-50 mb-4 pb-2">Why <span class="text-cst-red">Choose Us</span></h3>
    

    <div class="col-7 d-flex align-items-center">
        <div class="row row-cols-2">
            <div class="row border-bottom border-end border-1 d-flex justify-content-center align-items-center p-3">
                <div class="col-3">
                    <img src="..\Content\assets\img\zz_chooseus01.png" style="width: 65px" />

                </div>
                <div class="col-8">
                    <h5>Fast Delivery</h5>
                    <p class="m-0">
                        Enjoy free shipping at any time of the day
                    </p>

                </div>

            </div>
            <div class="row border-bottom border-1 d-flex justify-content-center align-items-center p-3">
                <div class="col-3">
                    <img src="..\Content\assets\img\zz_chooseus02.png" style="width: 60px" />

                </div>
                <div class="col-8">
                    <h5>Premium Quality</h5>
                    <p class="m-0">
                        Made using only the freshest, healthiest ingredients
                    </p>

                </div>

            </div>
            <div class="row border-end d-flex justify-content-center align-items-center p-3">
                <div class="col-3">
                    <img src="..\Content\assets\img\zz_chooseus03.png" style="width: 60px" />

                </div>
                <div class="col-8">
                    <h5>Traditional Recipe</h5>
                    <p class="m-0">
                        The true essence of Italian cuisine straight to your door
                    </p>

                </div>

            </div>
            <div class="row d-flex justify-content-center align-items-center p-3">
                <div class="col-3">
                    <img src="..\Content\assets\img\zz_chooseus04.png" style="width: 60px" />

                </div>
                <div class="col-8">
                    <h5>Promotions</h5>
                    <p class="m-0">
                        Exciting new deals every month
                    </p>

                </div>

            </div>

        </div>

    </div>

    <div class="col-5">
        <div>
            <img src="..\Content\assets\img\zz_chooseus.png" alt="" class="card-img rounded-3" style="height:35vh; object-fit: cover;">

        </div>

    </div>

</div>

    @*CONTACTS*@

<div class="row bg-warning bg-opacity-25 rounded rounded-3 p-0 my-5">
    <div class="col-6 d-flex align-items-center p-0">

        <div>
            <img src="..\Content\assets\img\zz_contacts.png" alt="" class="card-img rounded-3" style="height:100%; object-fit: cover;"/>
        </div>

    </div>

    <div class="col-6">

        <div class="text-center d-flex flex-column align-items-center pt-3 pb-2">
            <h3 class="border-bottom border-danger w-75 mb-4 pb-2"><i class="bi bi-telephone-fill"></i> <span class="text-cst-red">Call Us</span> Anytime</h3>
            <address class="mb-1">
                <p class="text-warning fs-5 fw-semibold" style="text-shadow: 0 0 1px #f00; letter-spacing: 2px;">02 1234567</p>
                <p class="fs-5 fw-semibold mb-1 mt-3"><i class="bi bi-geo-alt-fill"></i> Location</p>
                <p class="m-1">1377 Basil Bay St,</p>
                <p class="m-1">Pizza Paradise, XY 7373</p>
                <p class="fs-5 fw-semibold mb-1 mt-3"><i class="bi bi-clock"></i> Open time</p>
                <p class="m-1">Mon - Thu: 10:30am - 10:00pm</p>
                <p class="m-1">Fri - Sun: 11:30am - 02:00am</p>

            </address>

        </div>

    </div>


</div>





    <div></div>



</main>


